:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 50px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
